<% provide(:title, 'Страны') %>
<h1>Список стран</h1>

<%= will_paginate %>

<ul class="clients">
  <%= render @countries %>
</ul>

<%= will_paginate %>
 
<br>


<%= form_for(@country) do |f| %>
    <%= render 'fields', f:f %>
    <%= f.submit "Добавить"  %>

<% end %>

